.container
  .jumbotron
    %h1 Hello, world!
    %p JK1804에 오시면 한달 안에 자신의 웹서비스를 만들 수 있습니다.
    %p 한번 시도해 보세요! 5분이면 여러분의 프로필 페이지를 만들 수 있습니다
    %p
      %a{:class => "btn btn-primary btn-lg", :role => "button", :href => "/home/viewstudy/1"} Try Study
.container
  .row
    .col-lg-4
      .alert.alert-success
        %h1 HTML 기초
        %p 화면에 원하는 컨텐츠를 넣는 방법을 배웁니다
        %a{:class => "btn btn-info btn-lg", :role => "button", :href => "/home/viewstudy/1"} Study
    .col-lg-4
      .alert.alert-success
        %h1 HTML 확장
        %p 사용자의 입력을 받거나 다른 페이지로 이동할 수 있는 링크 만드는 법을 배웁니다
        %a{:class => "btn btn-info btn-lg", :role => "button", :href => "/home/viewstudy/2"} Study
    .col-lg-4
      .alert.alert-success
        %h1 HTML 연습
        %p 기초와 확장 단계에서 배운 내용을 복습합니다
        %a{:class => "btn btn-info btn-lg", :role => "button", :href => "/home/viewstudy/3"} Study
  .row
    .col-lg-4
      .alert.alert-info
        %h1 환영인사 만들기
        %p 이름을 입력받은 후 환영인사를 합니다
        %a{:class => "btn btn-info btn-lg", :role => "button", :href => "/home/viewstudy/4"} Study
    .col-lg-4
      .alert.alert-info
        %h1 비만도 계산하기
        %p 사용자의 입력을 받아 비만도 계산기를 만듭니다
        %a{:class => "btn btn-info btn-lg", :role => "button", :href => "/home/viewstudy/5"} Study
    .col-lg-4
      .alert.alert-info
        %h1 전생 프로그램
        %p 사용자의 이름에 따라 전생을 표현해주는 웹 서비스를 만듭니다
        %a{:class => "btn btn-info btn-lg", :role => "button", :href => "/home/viewstudy/6"} Study
  .row
    .col-lg-4
      .alert.alert-danger
        %h1 출석부 만들기
        %p 이름을 남겨 데이터베이스에 영원히 저장합니다
        %a{:class => "btn btn-info btn-lg", :role => "button", :href => "/home/viewstudy/7"} Study
    .col-lg-4
      .alert.alert-danger
        %h1 내가 받고 싶은 선물은
        %p 선물 위시리스트 서비스를 만들어 봅니다
        %p (페이스북 계정 연동 방법을 추가로 배웁니다)
        %a{:class => "btn btn-info btn-lg", :role => "button", :href => "/home/viewstudy/8"} Study
    .col-lg-4
      .alert.alert-danger
        %h1 간단한 블로그 만들기
        %p 나만의 간단한 블로그를 만듭니다
        %a{:class => "btn btn-info btn-lg", :role => "button", :href => "/home/viewstudy/9"} Study
